/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Variables */
:root {
  --main-color: #2288ff;
  --second-color: #192f6a;
  --text-color: #314862;
  --bg-color: #fff;

  /* Box shadow */
  --box-shadow: 2px 2px 18px rgb(14 52 54 /15%);
}

/* Wild card styling */

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
/* Start Styling */
img {
  width: 100%;
}
body {
  color: var(--text-color);
}
section {
  padding: 4.5rem 0 3rem;
}
header {
  width: 100%;
  position: fixed;
  background-color: var(--bg-color);
  left: 0;
  top: 0;
  z-index: 100;
}
.container {
  max-width: 1068px;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 35px;
}
.logo {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 700;
  color: var(--text-color);
}
.logo i {
  color: var(--main-color);
  font-size: 24px;
}
.navbar {
  display: flex;
}
.navbar li a {
  margin-right: 20px;
  text-transform: uppercase;
  color: var(--text-color);
  font-weight: 500;
}
.navbar li a:hover {
  color: var(--main-color);
}
.btn {
  padding: 8px 22px;
  background: var(--main-color);
  color: var(--bg-color);
  border-radius: 5rem;
}
.btn:hover {
  background-color: #3492fd;
}
#menu-icon {
  font-size: 24px;
  display: none;
  cursor: pointer;
}
#menu {
  display: none;
}
.home {
  margin-top: 100px !important;
  background: url("images/home.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 440px;
  background-position: center;
  display: flex;
  align-items: center;
  border-radius: 2rem;

  color: var(--bg-color);
}
.home .home-text {
  padding-left: 35px;
}
.home .home-text h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 700;
}
/* About */
.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, auto));
  gap: 2rem;
}
.about .about-img img {
  border-radius: 3rem 0 3rem 3rem;
}
.about .about-text span {
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: 500;
}
.about-text h1 {
  font-size: 1.7rem;
}
.about-text p {
  margin: 1rem 0 1rem;
  font-size: 0.98rem;
}
/* Sales */
.sales {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3.5rem;
}
.sales-card {
  box-shadow: var(--box-shadow);
  border-radius: 2rem;
  text-align: center;
  padding: 20px;
}
.sales-card:hover {
  background: var(--main-color);
  color: var(--bg-color);
  transition: 0.4s all linear;
}
.sales-card i {
  color: var(--main-color);
  background-color: #f6f6f6;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
}
.sales-card h1 {
  font-size: 1.1rem;
  margin: 1rem 0 0.4rem;
}
.sales .sales-card p {
  font-size: 0.98rem;
}
/* properties */
.properties {
  background-color: #fbfbfb;
  border-radius: 2rem;
}
.properties-text {
  width: 440px;
  margin: auto;
  text-align: center;
}
.properties-text span {
  color: var(--main-color);
  font-weight: 500;
}
.properties-text h1 {
  margin: 1rem 0 0.4rem;
  font-size: 1.7rem;
}
/* properties cards  */
.properties-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  padding: 25px;
}
.box {
  box-shadow: var(--box-shadow);
  padding: 10px;
  border-radius: 1rem;
  transition: 0.4s linear;
}
.box:hover {
  transform: translateY(-10px);
}
.box img {
  border-radius: 1rem;
}
.box span {
  text-align: right;
  display: block;
}
.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-info p {
  font-weight: 600;
}
/* News Letter */
.newsletter {
  min-height: 45vh;
}
.newsletter h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.news-form {
  text-align: center;
  box-shadow: var(--box-shadow);
  padding: 6px 10px;
  border-radius: 5rem;
  width: 440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.news-form input {
  border: none;
  outline: none;
  font-size: 20px;
}

.newsletter button {
  border: none;
  font-weight: 500;
  font-size: 20px;
  padding: 12px 34px;
  text-transform: uppercase;
}
/* Footer */
.footer {
  background: var(--main-color);
  color: var(--bg-color);
  padding: 50px 80px;

  border-radius: 5rem 0 0;
}
.footer h1 {
  font-weight: 500;
}
.footer-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 2rem;
}
.footer-box {
  display: flex;
  flex-direction: column;
}
.footer-box a {
  color: var(--bg-color);
  margin-bottom: 0.5rem;
  font-weight: 400;
  font-size: 0.9rem;
}
.footer-box a:hover {
  color: var(--text-color);
}
.footer-box h3 {
  font-weight: 400;
  margin-bottom: 1rem;
}
.footer .copyright {
  text-align: center;
  margin-top: 100px;
}
.footer-icon i {
  font-size: 20px;
  margin-right: 1rem;
}
.footer-icon i:hover {
  color: var(--second-color);
}
/* Login  and Sign Up*/

.all,
.sign-up {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  align-items: center;
  gap: 20vh;
  min-height: 100vh;
}
.form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.form-input {
  display: flex;
  flex-direction: column;
}
.form-input input {
  padding: 10px;
  margin-bottom: 1rem;
  font-size: 17px;
  border: 1px solid #8a8a8a;
}
.form-input label {
  margin-bottom: 5px;
  font-size: 0.9rem;
}
.form-input button {
  background: var(--main-color);
  color: var(--bg-color);
  border: none;
  padding: 10px;
  font-size: 0.85rem;
  font-weight: 500;
}
.form-input button:hover {
  background: #3492fd;
}
.form-input a {
  text-align: right;
  margin-top: 10px;
}
.form-input + a {
  background: var(--main-color);
  color: var(--bg-color);

  text-align: center;
  padding: 10px;
}

/* Making Responsive */
@media (max-width: 1080px) {
  .container {
    margin: 0 1rem;
  }
  .all {
    grid-template-columns: 0.7fr 1fr;
  }
}
@media (max-width: 880px) {
  .all,
  .sign-up {
    grid-template-columns: 0.9fr 1fr;
  }
  section {
    padding: 4rem 0 3rem;
  }
  .properties-block,
  .footer-info,
  .sales {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1rem;
  }
}
@media (max-width: 768px) {
  .all,
  .sign-up {
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
  }
  .all img,
  .sign-up img {
    display: none;
  }
  #menu-icon {
    display: initial;
  }
  .nav {
    padding: 10px 0;
  }
  .navbar {
    position: absolute;
    top: -300px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 1rem;
    padding: 1rem;
    background: var(--second-color);
    transition: 0.5s, clip-path 1s;
    clip-path: circle(0% at 100% 1%);
  }
  .navbar li {
    display: block;
  }
  .navbar li a {
    color: var(--bg-color);
    display: block;
    padding: 0.5rem;
  }
  .navbar li a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.2s;
  }
  #menu:checked ~ .navbar {
    top: 100%;
    clip-path: circle(144% at 100% 1%);
  }
  .properties-text {
    width: 90vw;
  }
  .news-form {
    width: 90vw;
  }
  .news-form input,
  .news-form button {
    font-size: 1rem;
  }

  .sign-up,
  .all {
    margin: 100px 10vw 0;
  }
  .about-text span {
    font-size: 0.9rem;
  }
  .about-text h1,
  .properties-text h1,
  .newsletter h1 {
    font-size: 1.4rem;
  }
  .sales-card {
    padding: 10px;
  }
  .properties-block {
    padding: unset;
  }
  .about-img {
    order: 2;
  }
  .about {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .news-form input {
    width: 70%;
  }
  .news-form {
    width: auto;
  }
}

/* You Have to Learn About Clip-Path */
